{% extends 'layout.html' %} {% block title %} LingoAmigo - Expert dashboard{% endblock %} {% block
        content %}

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@5.11.4/dist/socket.io.min.js"></script>
        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content">

            </div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header clearfix" style="background-image: url(static/images/page-header-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-header__wrapper clearfix">
                        <div class="page-header__title">
                            <h2>Welcome to Your Dashboard</h2>
                        </div>
                        <div class="page-header__menu">
                            <ul class="page-header__menu-list list-unstyled clearfix">
                                <li><a href="{{ url_for('visitor_home') }}">Home</a></li>
                                <li class="active">My dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            <li><strong><i class="fas fa-lightbulb"></i>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %} {% endwith %}
    <!--Page Header End-->
    <div class="container mt-5">
      <h3>Your profile details:</h3>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>Username:</td>
              <td>{{ expert_info[1] }}</td>
            </tr>
            <tr>
              <td>Title:</td>
              <td>{{ expert_profile[4] }}</td>
            </tr>
            <tr>
              <td>First Name:</td>
              <td>{{ expert_profile[1] }}</td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td>{{ expert_profile[2] }}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{ expert_profile[3] }}</td>
            </tr>
            <tr>
                <td>Date of Join:</td>
                <td>{{ expert_profile[10].strftime('%d-%m-%Y') if expert_profile[10] else 'N/A' }}</td>
              </tr>
            <tr>
              <td>Nationality:</td>
              <td>{{ expert_profile[5] }}</td>
            </tr>
            <tr>
              <td>Phone Number:</td>
              <td>{{ expert_profile[7] }}</td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>{{ expert_profile[6] }}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          {% if expert_profile[8] %} {% if expert_profile[8].startswith('uploads/') %}
    
          <img
            src="{{ url_for('static', filename=expert_profile[8]) }}"
            alt="Profile Image"
            class="img-thumbnail"
            style="max-width: 200px; border-radius: 10px"
          />
          {% else %}
          <img
            src="{{ url_for('static', filename='uploads/' + expert_profile[8]) }}"
            alt="Default Profile Image"
            class="img-thumbnail"
            style="max-width: 200px; border-radius: 10px"
          />
          {% endif %} {% else %}
          <img
            src="{{ url_for('static', filename='uploads/profile.jpg') }}"
            alt="Default Profile Image"
            class="img-thumbnail"
            style="max-width: 200px; border-radius: 10px"
          />
          {% endif %}
        </div>
      </div>
      <br>
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="col-auto">
          <a
            href="{{ url_for('expert.expert_edit_profile')}}"
            class="btn btn-primary"
            >Edit My Profile</a
          >
        </div>
        <div class="col-auto">
          <a
            href="javascript:void(0)"
            id="changePasswordLink"
            class="btn btn-primary"
            >Change My Password</a
          >
        </div>
      </div>
      <div class="col-md-12">
        <form
          action="{{ url_for('expert.change_password')}}"
          method="POST"
          id="changePasswordForm"
          style="display: none"
        >
          <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Change Password</button>
          <button type="button" class="btn btn-danger" id="cancelChangePassword">
            Cancel
          </button>
        </form>
      </div>
            <br><hr>
      <!-- Manage hub-->
      <div class = "container mt-5">
        <div class="section-title text-center">
            <span class="section-title__tagline"></span>
            <h2 class="section-title__title">Management Hub</h2>
        </div>
        <div class="row center-flex">
          <!--Resource card-->
          <div class="col-md-4">
            <a href="{{ url_for('expert.add_resource')}}" class="card-link">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-book" style="font-size: 2rem"></i>Add Resources</h5>
                  <p class="card-text">Expert upload new resources including news, articles, tutorials or researches.</p>
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
    <br><br><br>
      

    <div id="chat-container" style="display: none;" data-session-id="{{ session_id }}">
        <fieldset class="chat-fiedset">
            <div id="chat-header">
            </div>
            <div id="messages" class="chat-messages"></div>
            <form id="send-message-form" class="message-form" action="{{ url_for('expert.send_message') }}" method="POST">
                <input type="text" id="message-input" placeholder="Type your message here..." />
                <div class="form-actions">
                    <button type="submit" class="btn-send">Send</button>
                    <button type="button" id="complete-session" class="btn-complete">Complete</button>
                </div>
            </form>
        </fieldset>
    </div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
    document.querySelector(".preloader").style.display = 'none';
    document.getElementById("changePasswordLink").onclick = function () {
      var form = document.getElementById("changePasswordForm")
      form.style.display = form.style.display === "none" ? "block" : "none"
    }
    document.getElementById("cancelChangePassword").onclick = function () {
      var form = document.getElementById("changePasswordForm")
      form.style.display = "none"
      document.getElementById("newPassword").value = ""
      document.getElementById("confirmPassword").value = ""
    }

var socket;
document.addEventListener('DOMContentLoaded', function() {
  socket = io.connect(location.protocol + '//' + document.domain +':' + location.port);
  socket.on('connect', function() {
    console.log('Connected to WebSocket server!')
  });
  socket.on('new_message', function(data) {
    console.log('New message received:', data);
    var messageContainer = $('<div>').addClass('message-container');
    var messageContent = $('<div>').addClass('message-text').text(data.message);
    var messageTimestamp = $('<div>').addClass('timestamp').text(new Date(data.timestamp).toLocalTimeString());
    messageContainer.append(messageContent).append(messageTimestamp);
    console.log(messageContainer.html());
    $('#messages').append(messageContainer);
    $('#messages').scrollTop($('#messages')[0].scrollHeight)
    alert('New message received from session ' + data.session_id + ': ' + data.message);
  });
});

        
$(document).ready(function() {
  var session_id = $('#chat-container').data('session-id');
  socket.emit('join', { session_id: session_id })
  var refreshTimer;
  var currentSessionId = null;

  function checkSessions() {
    $.ajax({
      url: '/expert/check_sessions',
      type: 'GET',
      success: function(response) {
        if (response.session_id) {
            var session_id = response.session_id;
            if (currentSessionId !== session_id) {
              currentSessionId = session_id;
              $('#chat-header').html("Session"+ '<button id="close-chat" style="float:right;">x</button>')
            $('#chat-container').show();
            $('#send-message-form').data('session-id', session_id);
            loadMessages(session_id)
            startAutoRefresh(session_id);
            alert('New session started!')
            }
        }
      },
      error: function(xhr) {
        console.log('Error fetching sessions:', xhr.responseText);
      }
    });
  }

// load message
    function loadMessages(session_id) {
        $.ajax({
            url: '/expert/receive_messages',
            type: 'GET',
            data: { session_id: session_id },
            success: function(data) {
                $('#messages').empty();
                data.forEach(function(msg) {
                  $('#messages').append(`<div>${msg.message} - ${new Date(msg.timestamp).toLocaleTimeString()}<div>`);
                   
                });
            },
            error: function(xhr) {
              console.log('Error loading messages:', xhr.responseText);
            }
        });
    }

    
// auto refresh mesages
    function startAutoRefresh(session_id) {
        if(refreshTimer) {
            clearInterval(refreshTimer);
        }
        refreshTimer = setInterval(function() {
            loadMessages(session_id);
        }, 3000);

// send message
    $('#send-message-form').submit(function(e) {
        e.preventDefault();
        var message = $('#message-input').val();

        var timestamp = new Date();
        if (message && session_id) {
          socket.emit('message_received', {
            message: message,
            session_id: session_id,
            timestamp: timestamp
          }, function(response) {
            console.log('Message sent. Timestamp:', timestamp); 
            console.log('Message sent:', response);
          });
          
            $.ajax({
                url: '/expert/send_message',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                  message: message,
                  session_id: session_id
                }),
                success: function(response) {
                    $('#message-input').val('');
                    console.log('Message sent:', response)
                    loadMessages(session_id);
                },
                error: function(xhr) {
                  console.error('Error sending message:', xhr.responseText);
                }
            });
        }
    });


// complete session
    $('#complete-session').on('click', function() {
        var session_id = $('#send-message-form').data('session-id');
        clearInterval(refreshTimer);
        if ($(this).attr('id') === 'complete-session') {
            $.ajax({
                url: '/expert/complete_session',
                type: 'POST',
                data: { session_id: session_id },
                success: function() {
                        $('#chat-container').hide();
                },
                error: function(xhr) {
                    var errorMsg = "Error completing session. Please try again." + xhr.responseText;
                    alert(errorMsg)
                }
            });
        } else {
            $('#chat-container').hide();
        }
    });


// close session container    
    $(document).on('click', '#close-chat', function() {
        clearInterval(refreshTimer);
        $('#chat-container').hide();
    });

    }
    checkSessions();
});



    </script>
</body>
{% endblock %}    