{% extends 'layout.html' %} {% block title %}LingoAmigo - Edit course{% endblock %} {% block
    content %}

<body>

    
<div class="page-wrapper">

    

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content">

        </div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->



<!--Page Header Start-->
<section class="page-header clearfix" style="background-image: url({{ url_for('static', filename='images/page-header-bg.jpg') }});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2>Edit course</h2>
                    </div>
                    <div class="page-header__menu">
                        <ul class="page-header__menu-list list-unstyled clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="{{ url_for('teacher.teacher_courses') }}">My Courses</a></li>
                            <li class="active">Edit Course</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Page Header End-->
{% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            <li><strong><i class="fas fa-lightbulb"></i>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %} {% endwith %}



<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                <!-- Course info -->
                <h4>Course Info</h4><br>
                <div class="form-group">
                    <label for="courseName">Course Name</label>
                    <input type="text" class="form-control" name="courseName" value="{{ course[1] }}" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" required>{{ course[2] }}</textarea>
                </div>
                <div class="form-group">
                    <label for="duration">Duration (weeks)</label>
                    <input type="number" class="form-control" name="duration" value="{{ course[3] }}" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="price" value="{{ course[4] }}" required>
                </div>
                <div class="form-group">
                    <label for="image_url" class="form-label">Course Image</label>
                    <input type="file" class="form-control-file" id="image_url" name="image_url">
                    <img src="{{ url_for('static', filename='course/' + course[5]) }}" alt="Current Image" class="course-incart-photo">
                </div>
                <br><hr><br>
                <!-- Section -->
                <h4>Sections</h4><br>
                {% for section in sections %}
                <div class="form-group">
                    <label for="sectionTitle{{ loop.index }}">Title</label>
                    <input type="text" class="form-control" name="sectionTitle{{ section[0] }}" value="{{ section[2] }}" required>
                </div>
                <div class="form-group">
                    <label for="sectionContent{{ loop.index }}">Content</label>
                    <textarea class="form-control" name="sectionContent{{ section[0] }}" required>{{ section[3] }}</textarea>
                </div>
                {% endfor %}
                <br><hr><br>
                <!-- Quiz -->
                <h4>Quiz</h4><br>
                {% if quizzes %}
                    {% for quiz in quizzes %}
                    <div class="form-group">
                        <label for="quizTitle">Quiz Title</label>
                        <input type="text" class="form-control" name="quizTitle" value="{{ quiz[2] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="quizDescription">Quiz Description</label>
                        <textarea class="form-control" name="quizDescription">{{ quiz[3] }}</textarea>
                    </div>
                    
                    <div>
                        {% for question in quiz_questions[quiz[0]] %}
                        <input type="hidden" name="questionIds" value="{{ question[0] }}">
                        <div class="form-group">
                            <label for="question{{ question[0] }}">##Question</label>
                            <input type="text" class="form-control" name="question{{ question[0] }}" value="{{ question[2] }}" required>
                        </div>
                        <div class="form-group">
                            <label for="answerA{{ question[0] }}">--Option A</label>
                            <input type="text" class="form-control" name="answerA{{ question[0] }}" value="{{ question[3] }}" required>
                            <label for="answerB{{ question[0] }}">--Option B</label>
                            <input type="text" class="form-control" name="answerB{{ question[0] }}" value="{{ question[4] }}" required>
                            <label for="answerC{{ question[0] }}">--Option C</label>
                            <input type="text" class="form-control" name="answerC{{ question[0] }}" value="{{ question[5] }}" required>
                            <label for="correctAnswer{{ question[0] }}">Correct Answer</label>
                            <select class="form-control" name="correctAnswer{{ question[0] }}" required>
                                <option value="A" {% if question[6] == 'A' %}selected{% endif %}>A</option>
                                <option value="B" {% if question[6] == 'B' %}selected{% endif %}>B</option>
                                <option value="C" {% if question[6] == 'C' %}selected{% endif %}>C</option>
                            </select>

                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </div>
                <br>
                <button type="submit" class="thm-btn comment-form__btn">Save Changes</button>
            </form>
        </div>
    </div>
</div>



</div><!-- /.page-wrapper -->


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://kit.fontawesome.com/a076d05399.js"></script>
 
</body>
{% endblock %}