{% extends 'layout.html' %} {% block title %}LingoAmigo - course_details{% endblock %} {% block
    content %}

<body>

    
<div class="page-wrapper">

    

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content">

        </div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->



<!--Page Header Start-->
<section class="page-header clearfix" style="background-image: url({{ url_for('static', filename='images/page-header-bg.jpg') }});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2>Students</h2>
                    </div>
                    <div class="page-header__menu">
                        <ul class="page-header__menu-list list-unstyled clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="{{ url_for('teacher.teacher_courses') }}">My Courses</a></li>
                            <li class="active">View Students</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Page Header End-->
{% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            <li><strong><i class="fas fa-lightbulb"></i>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %} {% endwith %}
    <!--Course list-->
    <section class="course-section">
        <div class="container">
            {% if students %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student[0] }}</td>
                        <td><img
                                src="{{ url_for('static', filename='uploads/' + student[5]) }}"
                                alt="Product Image"
                                class="course-incart-photo"
                            /></td>
                        <td>{{ student[1] }} {{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4] }}</td>
                        <td>{{ student[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <br><br>
            <div class="container text center mt-5">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-info-circle" aria-hidden="true"></i><p>No students has subscribed to this course.</p>
                </div>
            </div>
            <br><br>
            {% endif %}
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://kit.fontawesome.com/a076d05399.js"></script>
 
</body>
{% endblock %}