{% extends 'layout.html' %} {% block title %} LingoAmigo {% endblock %} {% block
        content %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teachers Profile|| LingoAmigo</title>
</head>


<body>



        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content">

            </div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->



    <!--Page Header Start-->
    <section class="page-header clearfix" style="background-image: url(static/images/page-header-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-header__wrapper clearfix">
                        <div class="page-header__title">
                            <h2>Teacher Profile</h2>
                        </div>
                        <div class="page-header__menu">
                            <ul class="page-header__menu-list list-unstyled clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="{{ url_for('teachers') }}">Teachers</a></li>
                                <li class="active">Teacher Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Page Header End-->

<br><br>
    
    <div class="teacher-profile-container">
        <!--profile info-->
        <div class="teacher-info">
            <h2>{{ teacher[1] }} {{ teacher[2] }}</h2>
            <p>Title: {{ teacher[4] }}</p>
            <p>Email: {{ teacher[3] }}</p>
            <p>Nationality: {{ teacher[5] }}</p>
            <p>Phone: {{ teacher[7] }}</p>
            <p>Date of Join: {{ teacher[10].strftime('%d-%m-%Y') if teacher[10] else 'N/A' }}</p>
            <p>Description: {{ teacher[6] }}</p>
        </div>
        <!--profile photo-->
        <div class="teacher-photo">
            <img src="{{ url_for('static', filename='uploads/' + teacher[8]) }}" alt="{{ teacher[1] }} {{ teacher[2] }}">
        </div>
    </div>
<br><br>
</body>
</html>
{% endblock %}